:root {
  --primary-color: #0099e6;
  --secondary-color: #4dc3ff;
}

html,
body {
  min-width: 320px;
  margin: 0;
  padding: 5% 5% 2% 12%;
  background-color: var(--secondary-color);
  text-align: center;
  font-size: 16px;
}

.container {
  margin: 0 auto;
  border-radius: 4px;
  width: 75%;
  max-width: 900px;
  padding: 10px;
  padding-top: 20px;
  background-color: aliceblue;
}

.left-labels {
  display: inline-block;
  text-align: right;
  width: 40%;
  margin-top: 20px;
  padding: 5px;
  vertical-align: top;
  margin-right: 5px;
}

.rightTab {
  display: inline-block;
  text-align: left;
  width: 45%;
  vertical-align: bottom;
}

li {
  list-style-type: none;
  position: relative;
  right: 45px;
  top: 10px;
}

#name,
#email,
#number,
#dropdown,
#years {
  border-radius: 5px;
  border: solid 1px var(--primary-color);
  padding: 5px;
  width: 75%;
}

#comments {
  height: 75px;
}

#submit {
  border-radius: 5px;
  border: solid 1px var(--primary-color);
  padding: 5px;
}
